@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  transition: background-color 0.3s, color 0.3s;
}

html.dark {
  --bg-color: theme('colors.dark.background');
  --surface-color: theme('colors.dark.surface');
  --text-color: theme('colors.dark.text');
  --primary-color: theme('colors.dark.primary');
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header, footer {
  background-color: var(--surface-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

button {
  background-color: var(--surface-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  @apply text-primary dark:text-primary;
}

a:hover {
  @apply underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

